<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1 class="center">Solitaire Scrabble</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}

        <div class="center">
            <a href="{{ url_for('game.index') }}">play</a>
             - 

            <a href="">rules</a>
             - 
            <a href="https://github.com/bencejdanko/solitaire-scrabble">github</a>
             -
            <a href="{{ url_for('auth.register') }}">register</a>
             - 
            <a href="{{ url_for('auth.login') }}">login</a>
        </div>
    </ul>
</nav>

{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}