{% extends 'base.html' %}

{% block content %}

<title>Solitaire Scrabble</title>
<div id="app"></div>

<script>

    let green = '#3afd47be'

    const hand = ['a', 'b', 'c'] // {{ hand|default('[]') | tojson | safe}}


    const board = ['x2', null, null, 'x3'] // {{ board|default('[]') | tojson | safe}}
    const score = {{ score |default ('0') | tojson | safe }}


    const sequence = ['a', 'b', 'c'] // {{ sequence|default ('[]') | tojson | safe}}
    const tile_scores = {{ tile_scores|default ('{}') | tojson | safe}}
    const users = {{ users_serialized|default ('[]') | tojson | safe}}
    const error = ""
    let played_board = Array(board.length).fill(null)

    const game_id = {{ session.get('game_id') |default ('null') | tojson | safe}}
</script>

{% set js_files = [
'main',
'board_tile',
'board',
'word_score',
'score',
'hand_tile',
'hand',
'sequence',
'error',
'controls',
'start_button'
] %}

{% for js_file in js_files %}
<script type="module" src="{{ url_for('static', filename=js_file ~ '.js') }}"></script>
{% endfor %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock content %}