{% extends 'base.html' %}

{% block content %}

<title>Solitaire Scrabble</title>
<div id="app"></div>

<script>
    const game_id = {{ session.get('game_id') |default ('null') | tojson | safe}}
    const user_id = {{ session.get('user_id') |default ('null') | tojson | safe}}
</script>

{% set js_files = [
'main',
'board_tile',
'board',
'word_score',
'score',
'hand_tile',
'hand',
'sequence',
'error',
'controls',
'start_button',
'games_history'
] %}

{% for js_file in js_files %}
<script type="module" src="{{ url_for('static', filename=js_file ~ '.js') }}"></script>
{% endfor %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% endblock content %}