/* Reset default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
address,
caption,
th,
td,
form,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
section,

:root {

    --green: hsl(165, 93%, 32%);
    --dark0: hsl(210, 3%, 15%);
    --dark1: hsl(233, 15%, 12%);
    --dark2: hsl(231, 15%, 18%);
    --dark3: hsl(232, 14%, 31%);
    --light: hsl(60, 30%, 96%);
    --navy: hsl(225, 27%, 51%);
    --slate: hsl(232, 14%, 31%);
    --red: hsl(0, 100%, 67%);
    --green1: hsl(135, 94%, 65%);
    --yellow: hsl(65, 92%, 76%);
    --cyan: hsl(191, 97%, 77%);
    --violet: hsl(265, 89%, 78%);
    --orange: hsl(31, 100%, 71%);
    --pink: hsl(326, 100%, 74%);
    --gray: hsl(180, 1%, 39%);
    --gray2: hsl(210, 2%, 20%);
}

#app {
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    font-weight: bold;
    font-size: 40px;
}

.logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 20px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--light);
    color: #333;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translate(0, -20px); */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.center {
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

.scrollable {
    overflow-y: auto;
    max-height: 400px;
}

#message {
    justify-self: center;
}

.column {
    float: left;
    background-color: #f5f5f5a8;
    border: 1px solid #000000;
    margin: 5px;
    overflow-y: auto;
    max-height: 200px;
}

.left {
    width: 32%
}

.middle {
    width: 32%
}

.right {
    width: 32%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#rules-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#rules-modal.show {
    display: block;
    opacity: 1;
}

.rules-page {
    background-color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.rules-page.show {
    opacity: 1;
}

button {
    width: 100px;
    height: 50px;

    border: 1px solid #333;
    border-radius: 10%;
    background-color: var(--light);
    color: #333;

    margin: 5px;
    cursor: pointer;
}

#start-button {
    margin: 5px;
}

/* #modal-content {
    width:100%;
    height:100%;
} */

#close-modal {
    bottom: 0;
}

.start-button {}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;    
    width: 50%;
}

.start-button:hover {
    cursor: pointer;
}

#hand {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#sequence {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sequence-tile {
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    background: #f6f9fc;
}

.index-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sequence-tile-score {
    font-size: 8px;
    text-align: center;
}

.hand-tile {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    background: #f6f9fc;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.board-tile {
    width: 50px;
    height: 50px;
    border: 1px solid var(--dark3);
    background: var(--light);
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;

}

.hand-tile-score {
    font-size: 10px;
    text-align: center;
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.empty-slot {
    width: 50px;
    height: 50px;
    background-color: #a3c7e0be;
    border: 1px solid #000000;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

#board {
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    margin: 0 auto;
}

.board-grid {
    display: grid;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgrey;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.bonus-slot {
    width: 50px;
    height: 50px;
    background-color: #3afd47be;
    border: 1px solid #000000;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

#games-history {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard {
    justify-content: center;
    align-items: center;
    display: flex;
}

table {
    display: flex;
    justify-self: center;
    border-spacing: 1em;
    border: 1px solid gray;
    border-radius: 5px;
}

#word-score {
    font-size: 20px;
    text-align: center;
}

#score {
    font-size: 15px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.pop-animation {
    animation: pop 0.3s ease-in-out;
}

.quick-pop-animation {
    animation: pop 0.2s ease-in-out;
}